In [2]:
import pandas as pd

In [11]:
df = pd.read_pickle('/Users/parkjeonghoon/Desktop/BITamin/NH/pkl_file/2900번째_체크포인트.pkl')
df

,title,date,category,key_points,text,url
0,Citigroup posts better-than-expected earnings ...,2023-07-14 00:00:00,Markets,Citigroup reported second-quarter earnings and...,Citigroup on Friday reported second-quarter ea...,https://www.cnbc.com/2023/07/14/citigroup-c-q2...
1,Europe's Stripe rival Adyen dives 39% after sl...,2023-08-17 00:00:00,Tech,Adyen reported revenue of 739.1 million euros ...,"Shares of Adyen , the European payments giant ...",https://www.cnbc.com/2023/08/17/adyen-earnings...
2,What happened to the Chinese travel boom every...,2023-07-26 00:00:00,CNBC Travel,,Are you prepared? That was the question that m...,https://www.cnbc.com/2023/07/26/china-travel-b...
3,George Santos bail backers will be revealed Th...,2023-06-20 00:00:00,Politics,Santos' lawyer argued that the bail backers' i...,U.S. Representative George Santos (R-NY) speak...,https://www.cnbc.com/2023/06/20/george-santos-...
4,Former UK PM Liz Truss is blaming the left-win...,2023-02-06 00:00:00,Europe Politics,"Truss resigned in October, becoming the shorte...",British Prime Minister Liz Truss announces her...,https://www.cnbc.com/2023/02/06/former-uk-pm-l...
...,...,...,...,...,...,...
896,Moderna CEO Stephane Bancel defends fivefold p...,2023-03-22 00:00:00,Health and Science,Sen. Bernie Sanders pressed Bancel during the ...,"""Quadrupling the price is huge,"" Sanders told ...",https://www.cnbc.com/2023/03/22/moderna-ceo-st...
897,"Bitcoin briefly rises above $31,000 to highest...",2023-06-23 00:00:00,Markets,"Bitcoin broke above $31,000 Friday. The larges...","Bitcoin briefly broke above $31,000 Friday, bu...",https://www.cnbc.com/2023/06/23/bitcoin-rises-...
898,Rudy Giuliani booked in Trump Georgia election...,2023-08-23 00:00:00,Politics,Former Trump campaign lawyer Rudy Giuliani sur...,"Rudy Giuliani, who served as former U.S. Presi...",https://www.cnbc.com/2023/08/23/trump-lawyer-r...
899,Apple reportedly tests 3D printing to manufact...,2023-08-31 00:00:00,Tech,Apple is reportedly testing using 3D printing ...,Apple is testing the use of 3D printers to mak...,https://www.cnbc.com/2023/08/31/apple-is-testi...
900,A.I. poses existential risk of people being 'h...,2023-05-24 00:00:00,Tech,Artificial intelligence could pose existential...,"Former Google CEO Eric Schmidt said he sees ""e...",https://www.cnbc.com/2023/05/24/ai-poses-exist...

In [13]:
len(df)

901

In [7]:
df.isnull().sum()

title         0
date          0
category      0
key_points    0
text          0
url           0
dtype: int64

In [21]:
dic = ['title', 'date', 'category', 'key_points', 'text', 'url']
for i in range(len(df)):
    cnt = 0
    for ls in dic:
        if df.iloc[i][ls] == '':
            cnt += 1
    if cnt >= 3:
        print(i, ' empty')

202  empty
466  empty

In [20]:
df.iloc[202]

title
date
category
key_points
text
url           https://www.cnbc.com/2023/05/17/worried-about-...
Name: 202, dtype: object